<div class="container section content">
  <h2>Sucess criterias</h2>
  <h3>Smart reporting</h3>
  <p>- DPR : A central platform</p>
  <p>- Unisea Daily Midnight Report</p>
  <p>- Smart, Accurate, Efficient Reporting system.</p>
  <p>- Flexibility</p>
  <p>- Reports emissions (DNV BV RINA)</p>
  <p>- Fuel Consumption Declaration form.</p>
  <p>- Analytics, KPI's</p>
  <h3>Operation Performance</h3>
  <p>- AIS integration and Live Tracking</p>
  <p>- Real-Time Alerts</p>
  <p>- KPI Dashboard (Same as picture)</p>
  <h3>Vessel Performance</h3>
  <p>- Fuel Multiple Sensors Integration</p>
  <p>- Performance Degradation</p>
  <p>- SFOC, ME main load degradation</p>
  <p>- Silicon Paint insights</p>
  <p>- CO2 Emission Measurement</p>
  <p>- Fuel theft prevention.</p>
  <p>- Analytics, KPI's</p>
  <p>- Vessel Performance Consultancy</p>
  <p>- Export function, in .csv</p>
  <h3>Data Integration</h3>
  <p>- DAS installation</p>
  <p>- API Integration</p>
  <p>- AIS Integration</p>
  <br><br>
  <p><a href="{{ url_for('admin_dashboard') }}">Back to Admin Dashboard</a></p>
</div>
